---
// ----- ブログホーム -----
import BaseLayout from "src/layouts/BaseLayout.astro";
import TwoColLayout from "src/layouts/TwoColLayout.astro";
import GridCard from "src/components/GridCard.astro";
import Pager from "src/components/Pager.astro";

import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";
export const getStaticPaths = (async ({ paginate }) => {
	// コンテンツコレクション（ブログ）から記事データ取得
	const allPosts = await getCollection("blog");
	// 最新順に並べ替え
	const sortedPosts = allPosts.sort((a, b) => {
		return b.data.publishDate.getTime() - a.data.publishDate.getTime();
	});
	return paginate(sortedPosts, { pageSize: 6 });
}) satisfies GetStaticPaths;
const { page } = Astro.props;
---

<BaseLayout
	baseData={{
		title: "BLOG | オルカシャーク",
		description: "ブログディスクリプション",
		index: page.currentPage === 1 ? true : false,
	}}
>
	<TwoColLayout>
		<main>
			<GridCard posts={page.data} />
		</main>
		<Pager page={page} />
	</TwoColLayout>
</BaseLayout>
