---
import BlogLayout from "@/layouts/BlogLayout.astro";
import Article from "@/components/Article.astro";
import { ImageModal } from "@/components/ImageModal";
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
  const allPosts = await getCollection("blog");
  return allPosts.map((post) => {
    return {
      params: { id: post.id },
      props: { post },
    };
  });
}) satisfies GetStaticPaths;

const { post } = Astro.props;
---

<BlogLayout
  metadata={{
    title: `${post.data.title} | オルカシャーク`,
  }}
>
  <div class="block">
    <main>
      <Article post={post} />
    </main>
  </div>
  {/* 画像モーダル */}
  <ImageModal client:idle />
</BlogLayout>

<style>
  .block {
    background-color: var(--white-base);
    color: var(--black);
  }

  @media (max-width: 767.9px) {
    .block {
      margin-inline: calc(50% - 50vw);
      padding: 1em;
      border-block: 4px solid var(--light-sub);
    }
  }

  @media (min-width: 768px) {
    .block {
      border: 4px solid var(--light-sub);
      border-radius: 5px;
      padding: 2.5em;
    }
  }

  @media (min-width: 992px) {
    .block {
      padding: 2em;
    }
  }

  @media (min-width: 1200px) {
    .block {
      padding: 3em;
    }
  }
</style>
