---
import ColumnLayout from "src/layouts/ColumnLayout.astro";
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
	// 記事データ取得
	const allPosts = await getCollection("blog");

	return allPosts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();
---

<ColumnLayout>
	<div class="post-block">
		<div class="block-inner">
			<main>
				<article>
					<header>
						<!-- 投稿日 -->
						<time datetime={post.data.publishDate.toISOString()}>
							{
								post.data.publishDate
									.toLocaleDateString("ja-JP", {
										year: "numeric",
										month: "2-digit",
										day: "2-digit",
									})
									.replaceAll("/", "-")
							}
						</time>
						<!-- 記事タイトル -->
						<h1 class="title">{post.data.title}</h1>
						<!-- カテゴリー -->
						<a href={`/blog/category/${post.data.category.slug}/`} class="category">
							{post.data.category.name}
						</a>
					</header>

					<!-- 記事本文 -->
					<div class="content">
						<Content />
					</div>
				</article>
			</main>
		</div>
	</div>
</ColumnLayout>

<style>
	.post-block {
		--clampValue: 500 * 100cqw;
		container-type: inline-size;
	}

	.block-inner {
		background-color: #f3f3f3;
		color: #292929;
		padding: clamp(15px, 30 / var(--clampValue), 55px);

		@media (768px>width) {
			margin-inline: calc(50% - 50vw);
		}

		@media (768px<=width) {
			border: 4px solid var(--subLight);
			border-radius: 5px;
		}
	}

	header {
		margin-bottom: 1em;

		.category {
			margin: 0.5em;
			display: inline-block;
			padding: 0.2em 0.4em;
			background-color: #ccc;
			color: var(--base);

			&:hover {
				opacity: 0.8;
			}
		}
	}

	.content {
		text-align: justify;
		word-break: break-all;
		
		a {
			color: #0f5b99;

			&:hover {
				text-decoration: underline;
				text-underline-offset: 5px;
			}
		}

		:is(h1, h2, h3, h4, h5, h6) {
			margin-bottom: 1em;
			padding: 0.5em;
		}

		h2 {
			border-bottom: 4px solid var(--sub);
			position: relative;
			font-size: 1.25rem;

			&::after {
				position: absolute;
				content: "";
				display: block;
				border-bottom: 4px solid var(--accent);
				bottom: -4px;
				left: 0;
				width: 30%;
			}
		}

		h3 {
			background-color: #b3e2ff;
			font-size: 1.2rem;
		}

		h4 {
			background-color: #d5d5df;
			font-size: 1.15rem;
		}

		h5 {
			border-bottom: 2px solid var(--sub);
			font-size: 1.1rem;
		}

		@container (800px<=width) {
			font-size: 1.05rem;
		}
	}

	:is(header, .content) {
		h1 {
			background-color: var(--base);
			border-top: 4px solid var(--accent);
			font-size: clamp(1.2rem, 20 / var(--clampValue), 1.3rem);
			color: white;
			padding: 0.5em;
		}
	}
</style>
