:root {
	--base: #151515;
	--sub: #393949;
	--subLight: #4f4f66;
	--accent: #000091;
	--fontColor: #bbb;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1rem;
	font-weight: 700;
}

ul,
ol {
	list-style: none;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	margin-bottom: 1.5em;
}

a {
	text-decoration: none;
	color: white;
}

body {
	background-color: var(--base);
	border-top: 6px solid var(--accent);
	color: var(--fontColor);
	font-family: "M PLUS 1 Variable", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans",
		Meiryo, Arial, sans-serif;
	line-height: 1.7;
	letter-spacing: 0.02em;

	&:has(.js-nav-open) {
		overflow: hidden;
	}
}

/* NEWアイコン */
.card {
	position: relative;
}

.new-icon {
	position: absolute;
	top: -5px;
	right: 0;
	background-color: #ddd;
	opacity: 0.9;
	color: var(--base);
	font-weight: 600;
	font-size: clamp(0.9rem, 15/800 * 100vw, 0.95rem);
	padding: 0.2em 0.5em;
	transform: skew(-10deg);
	rotate: 5deg;
}
