<footer>
  <span class="copyright">
    &copy;{new Date().getFullYear()} Takasuke
  </span>
</footer>

<style>
  footer {
    background-color: var(--sub);
    margin-top: 2em;
  }

  .copyright {
    font-weight: 500;
    display: block;
    text-align: center;
    padding: 1em;
  }
</style>
