---

---

<footer>
	<span class="copyright">
		&copy;2024 &ndash; {new Date().getFullYear()} Takasuke
	</span>
</footer>

<style>
	.copyright {
		font-weight: 500;
		display: block;
		text-align: center;
		padding: 1em;
	}
</style>
