---
import type { Page } from "astro";
interface Props {
	page: Page;
}
const { page } = Astro.props;
---

{
	page.lastPage !== 1 && (
		<div class="pager">
			{page.url.prev ? (
				<div class="prev">
					<a href={page.url.prev}>PREV</a>
				</div>
			) : null}
			{page.url.next ? (
				<div class="next">
					<a href={page.url.next}>NEXT</a>
				</div>
			) : null}
		</div>
	)
}

<style>
	.pager {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
		font-size: 1.1rem;
		margin-block: 0.5em;
	}

	.next {
		text-align: right;
	}
</style>
