---
// ----- カテゴリー別記事一覧ページ -----
import BaseLayout from "src/layouts/BaseLayout.astro";
import TwoColLayout from "src/layouts/TwoColLayout.astro";
import GridCard from "src/components/GridCard.astro";

import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";
export const getStaticPaths = (async ({ paginate }) => {
	const allPosts = await getCollection("blog");
	const sortedPosts = allPosts.sort((a, b) => {
		return b.data.publishDate.getTime() - a.data.publishDate.getTime();
	});
	const categorySlugs = [...new Set(allPosts.map((post) => post.data.category.slug))];
	return categorySlugs.flatMap((slug) => {
		const filteredPosts = sortedPosts.filter((post) => post.data.category.slug.includes(slug));
		return paginate(filteredPosts, {
			params: { slug },
			pageSize: 1,
		});
	});
}) satisfies GetStaticPaths;
const { page } = Astro.props;
---

<BaseLayout
	baseData={{ title: `${page.data[0].data.category.name} | カテゴリー | オルカシャーク` }}
>
	<TwoColLayout>
		<main>
			<h1>{`「${page.data[0].data.category.name}」カテゴリーの記事一覧`}</h1>
			<GridCard posts={page.data} />
		</main>
	</TwoColLayout>
</BaseLayout>

<style>
	h1 {
		color: white;
		font-size: clamp(1rem, 17/800 * 100vw, 1.1rem);
		font-weight: 600;
		margin-bottom: 0.5em;
	}
</style>
