---
import BaseLayout from "./BaseLayout.astro";
import Side from "src/components/Side.astro";
---

<BaseLayout>
	<div id="column-wrapper">
		<div class="main-column">
			<slot />
		</div>
		<div class="side-column">
			<Side />
		</div>
	</div>
</BaseLayout>

<style>
	#column-wrapper {
		display: grid;
		grid-template-columns: 90%;
		justify-content: center;

		@media (768px<=width) {
			grid-template-columns: 1fr;
		}

		@media (992px<=width) {
			grid-template-columns: 30% 68%;
			justify-content: space-between;

			.main-column {
				order: 1;
			}
		}

		@media (1200px<=width) {
			grid-template-columns: 27% 68%;
		}
	}
</style>
